@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

:root {
  --colorPrimario: #4a0d0f; 
  --colorFondo: #000; 
  --colorTexto: #fff; 
  --colorSecundario: #2a2a2a; 
  --colorBotonPlay: #e50914; 
  --colorRojoTexto: #e50914; 
  --colorDoradoTexto: #d4af37; 
  --fuentePrimaria: 'Fjalla One', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fuentePrimaria);
  background-color: var(--colorFondo);
  color: var(--colorTexto);
}

.container {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
}

/* Header */
.header {
  background-color: var(--colorPrimario);
  padding: 1rem 0;
}

.header_contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 70px; 
}

.navbar a {
  color: var(--colorTexto);
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.6rem;
}

/* Featured */
.featured {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
  gap: 2rem;
}

.featured-left {
  width: 65%;
}

.featured-img {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer; 
}

.featured-img:hover {
  transform: scale(1.05); 
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); 
}

.featured-info {
  margin-top: 1rem;
  line-height: 1.5;
}

.featured-info h1 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  color: var(--colorDoradoTexto); 
}

.featured-info p strong {
  color: var(
    --colorDoradoTexto
  ); 
}

/* Sidebar */
.sidebar {
  width: 30%;
  background: var(--colorSecundario); 
  padding: 1.5rem;
  border-radius: 8px;
}

.sidebar h2 {
  margin-top: 1rem;
  font-size: 1.8rem;
  color: var(--colorRojoTexto); 
}

.sidebar p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: var(--colorTexto); 
}

/* Botón Play  */
.btn-play {
  background: var(--colorBotonPlay);
  color: var(--colorTexto);
  border: none;
  width: 120px; 
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 3rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-play:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(229, 9, 20, 0.6); 
}

/* Most viewed */
.most-viewed {
  margin: 4rem 0;
}

.most-viewed h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--colorRojoTexto); 
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.movie-card {
  background: var(--colorSecundario); 
  padding: 1.5rem;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer; /* efecto mano */
}

.movie-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2); 
}

.movie-card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.movie-card img:hover {
  transform: scale(1.08); 
}

.movie-card h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: var(--colorDoradoTexto); 
}

.movie-card p strong {
  color: var(--colorRojoTexto); 
}

.movie-card p {
  font-size: 1.4rem;
  margin-bottom: 0.3rem;
  color: var(--colorTexto); 
}

/* Footer */
.footer {
  background: var(--colorPrimario);
  text-align: center;
  padding: 1rem;
  font-size: 1.4rem;
}
